.div_container--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div_container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #2F303A66;
    background-image: url(/images/Img.png);
}

.main_section--info {
    max-width: 270px;
    margin: 0 25px 0 25px;
}


.main_section--antena::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/images/antena.jpg);
    background-size: cover;
    margin-bottom: 20px;
}



.main_section--clock::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/images/clock.jpg);
    background-size: cover;
    margin-bottom: 20px;
}


.main_section--computer::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/images/computer.jpg);
    background-size: cover;
    margin-bottom: 20px;
}


.main_section--starboy::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/images/starboy.jpg);
    background-size: cover;
    margin-bottom: 20px;
}


.main_section--container {
    margin: 94px 0 118px 0;
    display: flex;
    justify-content: center;
}

.main-h2--back-ground {
    letter-spacing: 6%;
    color: white;
    font-size: 44px;
    max-width: 696px;
    text-align: center;

}

.main_section_div--p {
    color: #757575;
}

.main-section--btn {
    margin-top: 30px;
    width: 216px;
    height: 50px;
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026
}


.section_about_work--card {
    position: relative;
}

.section_about_work--text--wrapper {
    position: absolute;
    top: 224px;
    background-color: #2F303ACC;
    width: 100%;
    padding: 27px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_about_work--text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

}

.section_about_work--div {
    display: flex;
    gap: 30px;
}

.section_about_work--h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}


.section_about_work {
    margin-bottom: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.section_about_team {
    background-color: #F5F4FA;
    padding-bottom: 94px;

}

.section_about_team--img {
    width: 270px;
    height: 260px;
}


.section_about_team--h2 {
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
    padding: 94px 0 50px 0;
    margin: 0;
}

.section_about_team--content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section_about_team--info {
    margin: 0 15px 0 15px;
    background-color: white;
    height: 428px;
    box-shadow: 0px 2px 1px 0px #00000033;

    box-shadow: 0px 1px 1px 0px #00000024;

    box-shadow: 0px 1px 3px 0px #0000001F;

}


.section_about_team--h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;

}


.section_about_team--p {
    font-size: 16px;
    color: #757575;
    text-align: center;
}

.section_container--media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 32px;
    width: 206px;
}

.section_about_team--media {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 32px;

}

.section_about_team--media--svg:hover svg .bg {
    fill: #2196f3;

}

.section_about_team--media--svg:hover svg .icon {
    fill: white;

}

.main_bottom--logo {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;

}

.main_container--customers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.main_about--customers svg:hover rect {
    stroke: #2196f3;

}

.main_about--customers svg:hover path {
    fill: #2196f3;

}